<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/normalize.css" />
    <link rel="stylesheet" href="/bundle.css" />

    <title>{{ title | default: "Erik Naslund" }}</title>
    <meta name="description" content="{{description | default: ''}}" />
  </head>
  <body class="measure-60 m-auto">
    <header class="site-header px-2">
      <h1>
        <a href="/" class="site-title" alt="Erik Naslund"> Erik Naslund CV</a>
      </h1>
      <nav>
        <a href="https://github.com/xlund" target="_blank">GitHub ↗</a>
        <a href="https://www.linkedin.com/in/erik-naslund/" target="_blank"
          >LinkedIn ↗</a
        >
      </nav>
    </header>
    <main class="px-2">{{ content }}</main>
    <footer class="site-footer px-2">
      <p>&copy; {{ 'now' | date: "%Y" }} Erik Naslund. All rights reserved.</p>
    </footer>
  </body>
</html>
